{{define "personalization"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Personalization</title>
    <style>
        * {box-sizing: border-box;}

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            overflow: hidden;
            background-color: #e1f1f1;
            padding: 20px 10px;
        }

        .header a {
            float: left;
            color: black;
            text-align: center;
            padding: 12px;
            text-decoration: none;
            font-size: 18px;
            line-height: 25px;
            border-radius: 4px;
        }

        .header a.logo {
            font-size: 25px;
            font-weight: bold;
        }

        .header a:hover {
            background-color: #ddd;
            color: black;
        }

        .header a.active {
            background-color: dodgerblue;
            color: white;
        }

        .header-right {
            float: right;
        }

        .button {
              width: 100px;
              height: 25px;
              font-family: 'Roboto', sans-serif;
              font-size: 12px;
              text-transform: uppercase;
              letter-spacing: 2.5px;
              font-weight: bold;
              color: #000;
              background-color: #d3d3d3;
              border: none;
              border-radius: 45px;
              box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
              transition: all 0.3s ease 0s;
              cursor: pointer;
              outline: none;
              margin: 5px 20px;
        }

        .button:hover {
          background-color: #2EE59D;
          box-shadow: 0px 10px 15px rgba(46, 229, 157, 0.4);
          color: #fff;
          transform: translateY(-7px);
        }

        @media screen and (max-width: 500px) {
            .header a {
                float: none;
                display: block;
                text-align: left;
            }

            .header-right {
                float: none;
            }
        }
    </style>
</head>
<body>

<div class="header">
    <a href="/" class="logo">Scarves</a>
    <div class="header-right">
        <a class="active" href="/">Home</a>
        <a href="#">Add</a>
    </div>
</div>
<br>
<form class="form-inline" method="GET" action="/personalize">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">&nbsp;Price&nbsp;</span>
            <select name="price" class="selectpicker form-control">
                {{if .Price}}
                    {{ range $price := .Price }}
                        {{ if eq $price.Id $.SelectedPrice }}
                            <option value="{{ $price.Id }}" selected>{{ $price.Name }}</option>
                        {{ else }}
                            <option value="{{ $price.Id }}">{{ $price.Name }}</option>
                        {{ end }}
                    {{end}}
                {{end}}
            </select>
            <span class="input-group-addon">&nbsp;Length&nbsp;</span>
            <select name="length" class="selectpicker form-control">
                {{if .Length}}
                    {{range .Length}}
                        {{if eq .Id $.SelectedLength}}
                            <option value="{{ .Id }}" selected>{{ .Name }}</option>
                        {{else}}
                            <option value="{{ .Id }}">{{ .Name }}</option>
                        {{end}}
                    {{end}}
                {{end}}
            </select>
            <span class="input-group-addon">&nbsp;Width&nbsp;</span>
            <select name="width" class="selectpicker form-control">
                {{ if .Width}}
                    {{ range .Width}}
                        {{if eq .Id $.SelectedWidth}}
                            <option value="{{ .Id }}" selected>{{ .Name }}</option>
                        {{else}}
                            <option value="{{ .Id }}">{{ .Name }}</option>
                        {{end}}
                    {{ end }}
                {{ end }}
            </select>
            <span class="input-group-addon">&nbsp;Color&nbsp;</span>
            <select name="color" class="selectpicker form-control">
                {{ if .Color}} {{ range .Color}}
                <option value="{{ .Id }}">{{ .Name }}</option>
                {{ end }} {{ end }}
            </select>
            <span><button type="submit" class="button">Search</button></span>
        </div>

    </div>
</form>

<br>
<div>
    <table border = 1>
        <thead>
            <th bgcolor="#d3d3d3">Id</th>
            <th bgcolor="#d3d3d3">Material</th>
            <th bgcolor="#d3d3d3">Manufacturer</th>
            <th bgcolor="#d3d3d3">Colour</th>
            <th bgcolor="#d3d3d3">Price</th>
            <th bgcolor="#d3d3d3">Length</th>
            <th bgcolor="#d3d3d3">Width</th>
            <th bgcolor="#d3d3d3">Weight</th>
        </thead>

        {{ range .Rows }}
        <tr>
            <td>{{.Scarf.Id}}</td>
            <td>{{.Scarf.Material}}</td>
            <td>{{.Scarf.Manufacturer}}</td>
            <td>{{.Scarf.Colour}}</td>
            <td>{{.Scarf.Price}}</td>
            <td>{{.Scarf.Length}}</td>
            <td>{{.Scarf.Width}}</td>
            {{if .TotalWeight}}
            <td>{{.TotalWeight}}</td>
            {{ end }}
        </tr>
        {{ end }}
    </table>
</div>
</body>
</html>
{{end}}